<!doctype html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
  <meta charset="utf-8" />
  <title>SpringOauth2Example</title>
  <base href="." th:href="@{/}" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
</head>
<body>
  <app-root>Loading...</app-root>

  <script type="text/javascript" th:src="@{/inline.bundle.js}"></script>
  <script type="text/javascript" th:src="@{/polyfills.bundle.js}"></script>
  <script type="text/javascript" th:src="@{/styles.bundle.js}"></script>
  <script type="text/javascript" th:src="@{/vendor.bundle.js}"></script>
  <script type="text/javascript" th:src="@{/main.bundle.js}"></script></body>
</html>
